/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require devise_bootstrap_views
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
 	padding-top:50px;
  margin-top:30px;
  background-color: #F4F4F2;
 }

 /*
      NAVBAR ============================
 */
 .navbar-inverse {
  background-color: #2d2e2f;
  border-color: #000000;
}

 @media (max-width: 1200px) {
     .navbar-header {
         float: none;
     }
     .navbar-left,.navbar-right,.pull-right {
         float: none !important;
     }
     .navbar-toggle {
         display: block;
     }
     .navbar-collapse {
         border-top: 1px solid transparent;
         box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
     }
     .navbar-fixed-top {
 		top: 0;
 		border-width: 0 0 1px;
 	}
     .navbar-collapse.collapse {
         display: none!important;
     }
     .navbar-nav {
         float: none!important;
 		margin-top: 7.5px;
 	}
 	.navbar-nav>li {
         float: none;
     }
     .navbar-nav>li>a {
         padding-top: 10px;
         padding-bottom: 10px;
     }
     .collapse.in{
   		display:block !important;
 	}
 }

/*
      FORM ==========================
*/
 #content {
	  background-color:#FFFFFF;
  }

  #content .line-break{
 	  border-left: solid #F4F4F2;
    border-width: 1px;
    padding-left: 8px;
   }

  #content .hr-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px outset #DDDDDD;
    margin: 1em 0;
    padding: 0;
  }

  #content form {
    padding-top: 20px;
  	margin-bottom:30px;
    padding-bottom: 30px;
  }

  #content form fieldset {
	clear:both;
  }

  #content .hidden{
  display: none;
  }

  #content .edit_question_form {
  display: none;
  }

  #content .edit_answer{
  display: none;
  }


  #content .col-centered{
    float: none;
    margin: 0 auto;
    margin-left: 3%;
}

/*
        SHOW ==========================
*/
  .content-item {
    padding:30px 0;
    background-color:#FFFFFF;
    padding-bottom: 30px;
    margin-bottom: 10px;
  }

  .green{
    color: #5EBA7D;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 1.5em;
  }

  .icon span {
    color: #858C93;
    margin-right: 10px;
    font-size: 1.5em;
  }

  .icon a {
    color: #858C93;
  }

  .icon a:hover {
    color: #3A3B3F;
	  text-decoration: inherit;
   }

   .add_fields {
     color: #858C93;
   }

   .add_fields:hover {
     color: #3A3B3F;
    text-decoration: inherit;
    }

  .yellow{
    color: #F4F4F2;
    margin-left: 15px;
  }

  .line {
    border-top: 1px outset #556E8C;
  }

  #content .media {
  	padding:20px 0;
  	margin:0;
  }

  #content .thumbnails {
    background-color: #E0EAF1;
    padding: 2px;
    width: 200px;
    float: right;
    padding-right: 5px;
  }

  #content .thumbnails span {
    color: #858C93;
    padding-left: 3px;
    font-size: 1.2em;
    float: right;
    padding-bottom: 4px;
  }

  #content .thumbnails a:hover {
    text-decoration: inherit;
  }

  #content .fa-calendar {
    margin-right: 2px;
  }

  #content .media p {
	margin-bottom:15px;
	text-align:justify;
  }

  #content .media-detail li {
  	color:#535A60;
  	font-size:12px;
  	padding-right: 10px;
  	font-weight:400;
  }

  #content .media-detail a {
    color: #0077DD;
  }

  #content .media-detail a:hover {
    color: #3AF;
	  text-decoration: inherit;
   }

  /* ANSWERS =================
  */
  #content .media img {
	   max-width:50px;
  }

  #content .media > .pull-left {
    margin-right:20px;
  }
  #content .line-answer {
    border-top: 1px outset #DDDDDD;
  }
