/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require devise_bootstrap_views
 *= require bootstrap-markdown
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "pygments";

 @font-face {
  font-family: "Proxima Nova";
  src: font-url('ProximaNova-Reg.otf') format("truetype");
  font-style: normal;
  }

 body {
 	padding-top: 50px;
  background-color: #FFFFFF;
  font-family: "Proxima Nova";
  font-size: 16px;
	color: #333;
  line-height: 1.5;
  margin-top: 30px;
 }

 /*
       FORM ==========================
 */

    form {
     padding-top: 20px;
   	 margin-bottom:30px;
     padding-bottom: 30px;
   }

    form fieldset {
 	clear:both;
   }

    .hidden{
   display: none;
   }

    .edit_question_form {
   display: none;
   }


    .edit_answer{
   display: none;
   }


    .col-centered{
     float: none;
     margin: 0 auto;
     margin-left: 3%;
 }

 /*
         SHOW ==========================
 */
   .content-item {
     padding:30px 0;
     background-color:#FFFFFF;
     padding-bottom: 30px;
     margin-bottom: 10px;
   }

   .vtop {
     margin-bottom: 5px;
   }
   .green{
     color: #5EBA7D;
     margin-top: 15px;
     font-size: 1.2em;
   }

   .red{
     color: #dd6e6e;
     margin-top: 15px;
     font-size: 1.2em;
   }


   .icon span {
     color: #858C93;
     margin-right: 10px;
     font-size: 1.5em;
   }

   .icon a {
     color: #858C93;
   }

   .icon a:hover {
     color: #3A3B3F;
 	  text-decoration: inherit;
    }

   .add_fields {
      color: #858C93;
   }

   .add_fields:hover {
     color: #3A3B3F;
     text-decoration: inherit;
   }

   .line {
     border-top: 1px solid #cecece;
   }

    .media {
     padding:20px 0;
     margin:0;
   }


 /* Votable CSS */
    .vote  {
     text-align: center;
   }

    .voting-idle {
     color: #e0e0e0;
     font-size: 1em;
     font-family: monospace;
     text-decoration:none;
   }

    .voting-idle:hover {
     color: #888;
     font-size: 1em;
     font-family: monospace;
   }

   .voting-idle:link {
     text-decoration: none;
   }

    .voting-active {
     color: #888;
     font-size: 1em;
     font-family: monospace;
     text-decoration:none;
   }

    .voting-active:hover  {
     color: #e0e0e0;
     font-size: 1em;
     font-family: monospace;
   }

   .voting-active:link {
     text-decoration: none;
   }

    .score  {
     color: #888;
     font-size: 1em;
     margin-top: 3px;
   }

   /* Attachment CSS */
    .thumbnails {
     background-color: #E0EAF1;
     padding: 2px;
     width: 200px;
     float: right;
     padding-right: 5px;
   }

    .thumbnails span {
     color: #858C93;
     padding-left: 3px;
     font-size: 1.2em;
     float: right;
     padding-bottom: 4px;
   }

    .thumbnails a:hover {
     text-decoration: inherit;
   }

    .fa-calendar {
     margin-right: 2px;
   }

    .best-answer-link {
     text-decoration: none;
   }

    .media p {
 	margin-bottom:15px;
 	text-align:justify;
   }

    .media-body p {
 	text-align: left;
   }

    .fa-thumbs-up {
   margin-right: 3px;
   }


    .media-detail li {
   	color:#535A60;
   	font-size:12px;
   	padding-right: 10px;
   	font-weight:400;
     list-style-type: disc;
   }

    .media-detail a {
     color: #0077DD;
   }

    .media-detail a:hover {
     color: #3AF;
 	  text-decoration: inherit;
    }

    .media img {
 	   max-width:50px;
   }

    .media > .pull-left {
     margin-right: 40px;
   }
    .line-answer {
     border-top: 1px solid #DDDDDD;
   }
