.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .solved {
   clear: both;
   color: #5FCF80;
   font-weight: bold;
 	 font-size: 14px;
   letter-spacing: 0.7px;
 }

.block {
}

.left-block {
  padding-top: 20px;
}

.right-block {
}

.action-link {
  color: #ec2728;
}

.action-link:hover {
  color: #2B2B2B;
}
.action-link:link {
  color: #2B2B2B;
  text-decoration: none;
}

.attachments {
  line-height: 0.5;
  text-align: right;
  padding-top: 3px;
  background-image: url("https://cdn4.iconfinder.com/data/icons/outline-2/64/documents-512.png");
  background-size: 20px 20px;
  background-position: left;
  background-repeat: no-repeat;
  max-width: 150px;
}

.attachments a {
  color: #333333;
  font-size: 12px;
}

.attachments a:hover {
  color: #ec2728;
  text-decoration: none;
}

.best-border {
  border: 1px solid #5FCF80;
  border-radius: 2px;
}
.best p {
  color: #5FCF80;
}
.best a:link {
  text-decoration: none;
}

.avatar-sign {
  margin: 10px;
  border-radius: 5px;
  max-width: 100px;
  max-height: 100px;
}

.avatar-index {
  border-radius: 20px;
  max-width: 20px;
  max-height: 20px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.avatar-show {
  width: 50px;
	height: 50px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
